<div class="team text-center">
  <h2 class="text-center">Meet our Team</h2>
  <div class="col-md-4">
    <div><%= image_tag("Rey.jpg") %></div>
    <div> Rey Leal </div>
    <div class= "icons">
      <a href="https://twitter.com/Xrey007" target="_blank"><li class="social-buttons" href="" id="twitter"><i class="fa fa-twitter circle-icon" aria-hidden="true"></i></li></a>
      <a href="https://www.linkedin.com/in/reyleal" target="_blank"><li class="social-buttons" id="linkedin"  ><i class="fa fa-linkedin-square circle-icon" aria-hidden="true"></i></li></a>
      <a href="https://github.com/ReyLeal" target="_blank"><li class="social-buttons" href="#" id="github"><i class="fa fa-github-alt circle-icon" aria-hidden="true"></i></li></a>
    </div>
  </div>
  <div class="col-md-4">
    <div><%= image_tag("Vanessa.jpg") %></div>
    <div> Vanessa Muller </div>
    <div class= "icons">
      <a href="https://twitter.com/VaneMuller" target="_blank"><li class="social-buttons" href="" id="twitter"><i class="fa fa-twitter circle-icon" aria-hidden="true"></i></li></a>
      <a href="https://www.linkedin.com/in/mullervanessa" target="_blank"><li class="social-buttons" id="linkedin"  ><i class="fa fa-linkedin-square circle-icon" aria-hidden="true"></i></li></a>
      <a href="https://github.com/vanessamuller" target="_blank"><li class="social-buttons" href="#" id="github"><i class="fa fa-github-alt circle-icon" aria-hidden="true"></i></li></a>
    </div>
  </div>
  <div class="col-md-4">
    <div><%= image_tag("Nick.jpg") %></div>
    <div> Nick Cole </div>
    <div class= "icons">
      <a href="https://twitter.com/NCOLE225" target="_blank"><li class="social-buttons" href="" id="twitter"><i class="fa fa-twitter circle-icon" aria-hidden="true"></i></li></a>
      <a href="https://www.linkedin.com/in/nicholas-cole-2131a579" target="_blank"><li class="social-buttons" id="linkedin"  ><i class="fa fa-linkedin-square circle-icon" aria-hidden="true"></i></li></a>
      <a href="https://github.com/NickC25" target="_blank"><li class="social-buttons" href="#" id="github"><i class="fa fa-github-alt circle-icon" aria-hidden="true"></i></li></a>
    </div>
  </div>

</div>
