<div class="car-photo-display-top col-md-12">
  <div>
    <div class="col-md-4 carsss">
    </div>
    <div class="col-md-4 carsss">
    </div>
    <div class="col-md-4 carsss">
    </div>
  </div>
  <div>
  </div>
</div>
<div class="car-photo-display-bot col-md-12">
  <div>
    <div class="col-md-4 carsss">
    </div>
    <div class="col-md-4 carsss">
    </div>
    <div class="col-md-4 carsss">
    </div>
  </div>
  <div>
  </div>
</div>
