  <div class="footer-div col-md-12 vcenter text-center">
    <div class='col-md-4 tall-footer'><p class='vcenter'>about us</p></div>
    <div class='col-md-4'>
      <p class='vcenter'>contact</p>
      <p class='vcenter-text'>
        For questions or concerns give us a call at (305)865-9543.
      </p>
    </div>
    <div class='col-md-4'>
      <p class='vcenter'>about us</p>
      <p class='vcenter-text'>
        Auto-Bid was created to help individuals looking to buy a car stop wasting time
        by going through dealers, so that people can get the best bids from dealers in
        their area without ever leaving their house!
      </p>
    </div>
  </div>
