  <div class="footer-div col-md-12 vcenter text-center">
    <div class='col-md-4 tall-footer'><p class='vcenter'>about us</p></div>
    <div class='col-md-4'><p class='vcenter'>about us</p></div>
    <div class='col-md-4'><p class='vcenter'>about us</p></div>
  </div>
