<div class="container-fluid" id="home-container">
  <%= render partial: "header" %>

  <% if current_user %>
  <div class="call-to-action-top col-md-12 text-center">
    <button class="top-cta-button" type="button">Create Auction</button>
    <button class="top-cta-button marg-left" type="button">Edit Profile</button>
    <button class="top-cta-button marg-left" type="button">View Auctions</button>
  </div>
  <% else %>
  <div class="call-to-action-top col-md-12 text-center">
    <a href="/signup"><button class="top-cta-button" type="button">Signup</button></a>
    <a href="/login"><button class="top-cta-button marg-left" type="button">Login</button></a>
  </div>
  <% end %>

  <%= render partial: "car-photos" %>

  <% if current_user %>
  <div class="call-to-action-bot col-md-12 text-center">
    <button class="top-cta-button" type="button">Create Auction</button>
    <button class="top-cta-button marg-left" type="button">Edit Profile</button>
    <button class="top-cta-button marg-left" type="button">View Auctions</button>
  </div>
  <% else %>
  <div class="call-to-action-bot col-md-12 text-center">
    <a href="/signup"><button class="top-cta-button" type="button">Signup</button></a>
    <a href="/login"><button class="top-cta-button marg-left" type="button">Login</button></a>
  </div>
  <% end %>

<%= render partial: "footer" %>

</div>
