<div class="container-fluid" id="home-container">
  <%= render partial: "header" %>

  <div class="row row-centered">
    <h1>Signup</h1>
    <div class="col-md-4 col-centered">
      <%= render partial: "form", locals: {zone: @user} %>
    </div>
  </div>

  <%= render partial: "car-photos" %>

  <%= render partial: "footer" %>

</div>
