<div class="container-fluid" id="home-container">
  <%= render partial: "header" %>

  <% if current_user %>
  <div class="call-to-action-top col-md-12 text-center">
    <button class="top-cta-button" type="button"><a href= 'auctions/new'>Create Bid</a></button>
    <%=link_to "<button class='top-cta-button marg-left' type='button'>Edit Profile</button>".html_safe, edit_user_url(current_user)%>
    <button class="top-cta-button marg-left" type="button"><a href='/auctions'>View Auctions</a></button>
  </div>
  <% else %>
  <div class="call-to-action-top col-md-12 text-center">
    <a href="/signup"><button class="top-cta-button" type="button">Signup</button></a>
    <a href="/login"><button class="top-cta-button marg-left" type="button">Login</button></a>
  </div>
  <% end %>



  <% if current_user %>
  <div class="call-to-action-bot col-md-12 text-center">
    <button class="top-cta-button" type="button">Create Bid</button>
    <button class="top-cta-button marg-left" type="button">Edit Profile</button>
    <button class="top-cta-button marg-left" type="button">View Auctions</button>
  </div>
  <% else %>
  <div class="call-to-action-bot col-md-12 text-center">
    <a href="/signup"><button class="top-cta-button" type="button">Signup</button></a>
    <a href="/login"><button class="top-cta-button marg-left" type="button">Login</button></a>
  </div>
  <% end %>


</div>
