
<div class="team  text-center">
  <h2 class="text-center">Meet our Team</h2>
  <div class="member col-md-4">
    <div><%= image_tag("Rey.jpg") %></div>
    <div> Rey Leal </div>
    <div class="text-justify"></div>
  </div>
  <div class="member col-md-4">
    <div><%= image_tag("Vanessa.jpg") %></div>
    <div> Vanessa Muller </div>
    <div class="text-justify"></div>
  </div>
  <div class="member col-md-4">
    <div><%= image_tag("Nick.jpg") %></div>
    <div> Nick Cole </div>
    <div class="text-justify"></div>
  </div>
</div>
