
  <div class="container-fluid" id="home-container">
    <%= render partial: "header" %>


  <%= @auction.title%>


  <div class="col-md-12 text-center">
    <a href="/"><button id="back" type="button">Back</button></a>
  </div>

  <%= render partial: "footer" %>

  </div>
