.auctions-row.row-centered.clearfix.auction {
  height: 100%;
  padding: 5rem;
  background-color: #002023;
  color: rgb(174, 188, 225);
}
.col-md-4.col-centered.clearfix {
  text-align: center;
}
input#auction_title {
  height: 5rem;
  font-size: 2rem;
  color: #aebce1;
  border: none;
  border-bottom: solid rgb(174, 188, 225);
  background-color: #002023;
}
.container-fluid {
  padding: 0;
}
select#auction_year {
  border: none;
  height: 5rem;
  font-size: 2rem;
  color: rgb(174, 188, 225);
  border-bottom: solid;
  border-radius: 0px;
  background-color: #002023;
  width: 100%;
}
select#auction_make {
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: rgb(174, 188, 225);
  border-bottom: solid;
  background-color: #002023;
  width: 100%;
}
select#auction_model {
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: rgb(174, 188, 225);
  border-bottom: solid;
  background-color: #002023;
  width: 100%;
}
select#auction_miles_from {
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: rgb(174, 188, 225);
  border-bottom: solid;
  background-color: #002023;
  width: 100%;
}
input#auction_color {
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: rgb(174, 188, 225);
  border-bottom: solid rgb(174, 188, 225);
  background-color: #002023;
}
input#auction_address {
  height: 5rem;
  font-size: 2rem;
  border: none;
  border-bottom: solid rgb(174, 188, 225);
  color: rgb(174, 188, 225);
  background-color: #002023;
}
textarea#auction_features {
  height: 5rem;
  font-size: 2rem;
  width: 100%;
  border: none;
  color: #aebce1;
  border-bottom: solid;
  background-color: #002023;
  resize: none;
  padding-top: 1rem;
}
input:focus {
  outline: none;
  border-bottom: solid white!important;
}
select:focus {
  outline: none;
  border-bottom: solid white!important;
}
textarea:focus {
  outline: none;
  border-bottom: solid white!important;
}
input#auction_expiration_date {
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: rgb(174, 188, 225);
  border-bottom: solid;
  background-color: #002023;
}
input#auction_max_price {
  height: 5rem;
  font-size: 2rem;
  border: none;
  border-bottom: solid rgb(174, 188, 225);
  color: rgb(174, 188, 225);
  background-color: #002023;
}
.auc-form-btn {
  height: 4rem;
  font-size: 2rem;
  margin-top: 2rem;
  border: none;
  width: 30%;
  border-radius: 10px;
  background-color: rgb(174, 188, 225);
  color: #002023;
}
#back-new {
  height: 4rem;
  font-size: 2rem;
  margin-top: -.5rem;
  margin-left: 2rem;
  border: none;
  width: 30%;
  border-radius: 10px;
  background-color: rgb(174, 188, 225);
  color: #002023;
}

input.auction-form::-webkit-input-placeholder {
  color: #aebce1;
  padding-left: 6px;
}
textarea::-webkit-input-placeholder {
  color: #aebce1;
  padding-left: 6px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(174, 188, 225);
  -webkit-box-shadow: rgb(174, 188, 225);
  transition: background-color 5000s ease-in-out 0s;
}
#back-new:focus{
  outline: none;
}

.auction{
  color: rgb(1, 70, 76);
}
.auctions-index {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 10rem;
  background-color: white;
  color: black;
}

a#destroy {
  color: black;
}
a#back {
  color: black;
}
.show-auction-info.text-center {
  color: black;
  height: 20rem;
}

.clickable {
  cursor: pointer;
}
.panel-row {
  display: block;
}

.clickable .glyphicon {
  padding: 6px 12px;
  border-radius: 4px
}

.panel-heading span {
  margin-top: -23px;
  font-size: 15px;
  margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

.panel-center {
  margin: 5rem 50rem;
}
.panel-heading.clickable {
  background-color: #002023;
}
.panel-warning {
  margin-top: 3rem;
  color: #002023;
  background-color: rgb(200, 202, 203);
}
.panel-warning>.panel-heading {
  color: rgb(174, 188, 225);
  background-image: none;
}
.panel.panel-warning {
  border-radius: 12px;
}
.panel-heading.clickable.panel-collapsed {
  border-radius: 12px;

}
.panel-heading.clickable {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.panel-info {
  font-size: 1.75rem;
  margin-top: 1.2rem;
}
a.new-class {
  color: rgb(174, 188, 225);
}
.col-md-4.new-class-div {
  font-size: 1.75rem;
  height: 5rem;
  width: 10rem;
  border: none;
  background-color: #002023;
  color: rgb(174, 188, 225);
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  padding-top: 1.2rem;
}
.top-image-auction {
  background-image: url(BMW.jpeg);
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom;
  color: rgb(1, 70, 76);
}

.nav-pills.auc-p li a:hover {
  background-color: transparent;
}
span.pull-right {
  position: relative;
  top: -10px;
}
h3.panel-title {
  position: relative;
  top: 9px;
}
