// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions-row-centered {
    text-align:center;
    height: 30rem;
    background-color: #002023;
    color: #002023;
}
.sessions-col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}


.login{
  color: #002023;
}

.row.sessions-row-centered.clearfix.login{
  height: 30rem;
}

input#email{
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: #002023;
  border-bottom: solid;
  background-color: white;
}

input#password{
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: #002023;
  border-bottom: solid;
  background-color: white;
}

form{
  text-align: center;
}

.login-title{
  color: #002023;
  padding-top: 2rem;
}

// input::-webkit-input-placeholder{
//   color: #002023;
// }

.session-form-btn{
  background-color: #002023;
  color: white;
}

.btn2{
  height: 4rem;
  font-size: 2rem;
  margin-top: 2rem;
  border: none;
  width: 30%;
  border-radius: 10px;

}
