// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions-row-centered {
    text-align:center;
    height: 25rem;
}
.sessions-col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
