body {
  height: 100%;
  color: rgb(174, 188, 225);
}
#home-container {
  // background-color: #ECEFF1;
  padding: 0;
}
.container {
  height: 100%;
  padding: 0;
}
nav {
  background-color: #ECEFF1;
  height: 6rem;
  padding-top: 1rem;
  color: rgb(1, 70, 76);
}
li.logo a {
  height: 4.5rem;
  width: 7rem;
}
li.logo  {
  margin-left: 2rem;
  background-image: url(temp-logo);
  height: 4.5rem;
  width: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.login {
  vertical-align: middle;
  height: 4rem;
}
a.nav-link:hover{
  color: rgb(43,61,118);
}
.signup {
  vertical-align: middle;
  height: 4rem;
}
.nav-pills li a:hover {
  background-color: transparent;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #263238;
}
a {
  text-decoration: none;
  color: white;
}
a.nav-link {
  color: rgb(1, 70, 76);
}
a:hover {
  text-decoration: none;
  color: white;
}

.top-image {
  background-image: url(BMW.jpeg);
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom;
  color: rgb(1, 70, 76);
}


button {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(1, 70, 76);
  height: 7rem;
  width: 20rem;
  font-size: 2rem;
  color: white;
  vertical-align: middle;
}

.top-cta-button {
  vertical-align: middle;
}
.car-photo-display-top {
  height: 30vh;
}
.car-photo-display-bot {
  height: 30vh;
}
.carsss {
  background-image: url(BMW.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
}

.call-to-action-bot {
  height: 30vh;
  padding: 0;
  padding-top: 10rem;
}
.car-photo-display-top.col-md-12 {
  padding: 0;
}
.car-photo-display-bot.col-md-12 {
  padding: 0;
}
button.marg-left {
  margin-left: 2rem;
}
.footer-div {

  background-color: rgb(0, 32, 35);
  color: rgb(102, 142, 146);

    height: 20rem;
}
.row-centered {
    text-align:center;
    height: 35rem;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: rgb(1, 70, 76);
}

input {
  width: 100%
}

#back{
  height: 4rem;
  width: 10rem;
}

li{
  display: inline;
}

.font-a {
  font-size: 130px;
  color: rgb(174, 188, 225);
}

.top{
  height: 100%;
  min-height:15rem;
  margin: 5rem 0;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: rgb(1, 70, 76);
  background-color: white;

}

.list{
  height:100%;
  min-height: 45rem;
  background-color: rgb(0, 32, 35);
  color: rgb(102, 142, 146);
  padding-top:8rem;
  padding-bottom: 2rem;
}

.text{
  font-size: 20px;
}

.start{
  font-size:30px;
  height: 100%;
  min-height:15rem;
  margin: 5rem 0;
  background-color: white;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 4rem;
  color: rgb(1, 70, 76);
  background-color: white;
}

.home-b{
  height:6rem;
  margin-left: 10rem;
}

img{
  height: 15rem;;
  width: 15rem;
  max-height: 25rem;
  border-radius: 50%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.team{
  font-size: 2rem;
  height:100%;
  min-height: 45rem;
  color: rgb(1, 70, 76);
  background-color: rgb(200, 202, 203);
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.signup{
  color: rgb(1, 70, 76);
}
