body {
  height: 100%;
  color: rgb(174, 188, 225);
}
#home-container {
  padding: 0;
}
.container {
  height: 100%;
  padding: 0;
}
nav {
  background-color: #ECEFF1;
  height: 6rem;
  padding-top: 1rem;
  color: rgb(1, 70, 76);
}
li.logo a {
  height: 4.5rem;
  width: 7rem;
}
li.logo  {
  margin-left: 2rem;
  background-image: url(temp-logo);
  height: 4.5rem;
  width: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
}

a.nav-link:hover{
  color: #01464c;
}
.signup {
  vertical-align: middle;
  height: 4rem;
  background-color: #01464c;
  color: rgb(174, 188, 225);
}
.nav-pills li a:hover {
  background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: rgb(1, 70, 76);
}

a.nav-link {
  color: #01464c;
}
a:hover {
  text-decoration: none;
  color: white;
}

.top-image {
  background-image: url(BMW.jpeg);
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom;
  color: rgb(1, 70, 76);
}

button.btn.btn-primary.btn-lg{
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #01464c;
  height: 40px;
  width: 74px;
  font-size: 14px;
  color: white;
  vertical-align: middle;

}


.top-cta-button {
  vertical-align: middle;
}
.car-photo-display-top {
  height: 30vh;
}
.car-photo-display-bot {
  height: 30vh;
}
.carsss {
  background-image: url(BMW.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
}

.car-photo-display-top.col-md-12 {
  padding: 0;
}
.car-photo-display-bot.col-md-12 {
  padding: 0;
}
button.marg-left {
  margin-left: 2rem;
}
.footer-div {
  background-color: rgb(0, 32, 35);
  color: rgb(102, 142, 146);
  height: 20rem;
}
.row-centered {
    text-align:center;
    height: 35rem;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

input {
  width: 100%
}

li{
  display: inline;
}

.font-a {
  font-size: 130px;
  color: rgb(174, 188, 225);
}

.top{
  height: 100%;
  min-height:15rem;
  margin: 5rem 0;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: rgb(1, 70, 76);
  background-color: white;

}

.list{
  height:100%;
  min-height: 45rem;
  background-color: rgb(0, 32, 35);
  color: rgb(102, 142, 146);
  padding-top:8rem;
  padding-bottom: 2rem;
}

.text{
  font-size: 25px;
}

.start{
  font-size:30px;
  height: 100%;
  min-height:15rem;
  margin: 5rem 0;
  background-color: white;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 4rem;
  color: rgb(1, 70, 76);
  background-color: white;
}

.home-b{
  height:6rem;
  margin-left: 10rem;
  text-decoration: none;
  color: white;
}

img{
  height: 15rem;;
  width: 15rem;
  max-height: 25rem;
  border-radius: 50%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.team{
  font-size: 2rem;
  height:100%;
  min-height: 45rem;
  color: rgb(1, 70, 76);
  background-color: rgb(200, 202, 203);
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.social-buttons{
  font-size: 3rem;
  display: inline;
  padding: 1rem;
  list-style: none
}

#twitter{
  color:#1da1f2;
}

#linkedin{
  color:#4875B4;
}

#github{
  color:black;
}

input#user_name{
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: #01464c;
  border-bottom: solid;
  background-color: white;
}

input#user_email{
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: #01464c;
  border-bottom: solid;
  background-color: white;
}

input#user_password{
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: #01464c;
  border-bottom: solid;
  background-color: white;
}

input#user_password_confirmation{
  height: 5rem;
  font-size: 2rem;
  border: none;
  color: #01464c;
  border-bottom: solid;
  background-color: white;
}

.modal-body{
  background-color: white;
}

.modal-header{

  font-size: 30px;
}

button.close{
  font-size: 50px;
  padding-bottom: 7rem;
  padding-left: 10rem;
}

.modal-title{
  color:#002023;
  font-size: 30px;
  padding-top: 1rem;
}

::-webkit-input-placeholder {
   color: #01464c;
   padding-left: 6px;
}

.user-reg{
  color: #01464c;
}

.dealer-reg{
  color: #01464c;
}

li.btn.btn-primary.btn-lg{
  display: inline;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
  -webkit-text-fill-color:#01464c;
}

.btn-primary{
  background-image: none;
  background-image: none;
  background-image: none;
  background-color: #01464c;
}

button.top-cta-button.home-b{
  background-color: #01464c;
}
