<div class="container-fluid" id="home-container">
  <%= render partial: "header" %>

  <div class="row sessions-row-centered clearfix">
    <h1>Login</h1>
    <div class="col-md-4 sessions-col-centered clearfix">

      <%= render partial: "form", locals: {zone: @user} %>
    </div>
  </div>


  <%= render partial: "car-photos" %>
  <%= render partial: "footer" %>
</div>
