  <div class="footer-div col-md-12 vcenter text-center">
    <div class='col-md-4 tall-footer'>
      <%= image_tag"logo-white.png", class:"logo-white" %>
    </div>
    <div class='col-md-4 contact-us-footer'>
      <p class='vcenter'>Contact</p>
      <p class='vcenter-text text-center'>
        Customer Service: (305)865-9543<br/>
        Email: Auto-bid@lowprices.com
      </p>
    </div>
    <div class='col-md-4 about-us-footer'>
      <p class='vcenter'>About Us</p>
      <p class='vcenter-text text-center'>
        Auto-bid was created to help customers search for a car without
        the hassle of negotiating prices. With Auto-bid, the best deals come
        to you. All you have to do is signup and enjoy.
      </p>
    </div>
  </div>
